[Unit]
Description=lehu quic socket

[Socket]
ListenDatagram=443
BindIPv6Only=both
FileDescriptorName=quic
Service=lehu.service

[Install]
WantedBy=sockets.target
