[Unit]
Description=lehu build service
After=network.target
Requires=syncthing@st.service

[Service]
Environment=PATH=/usr/local/opt/led/cmd/mkd:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
EnvironmentFile=/usr/local/etc/lehu/env
WorkingDirectory=/usr/local/opt/led/cmd/mkd/
ExecStart=/usr/local/opt/led/cmd/mkd/build-all.sh
User=led
Group=led
Restart=on-failure

[Install]
WantedBy=multi-user.target
